<% content_for :title, "TudoGostoso. O melhor site de receitas com as melhores receitas." %>
<% content_for :meta_description, "TudoGostoso é um site da Webedia que contém as melhores receitas para o dia a dia, fins de semana e ocasiões especiais" %>

<div class="container">
    <% @posts.each_with_index do |post, index| %>
      <% if index == 0 %>
        <div class="row">
          <div class="col-xs-12">
            <div class="card-lg">
              <%= link_to post_path(post) do %>
                <h2 class="text-orange text-left"><%= post.head_title.upcase %></h2>
                <p class="text-left"><%= post.subtitle %></p>
                <%= image_tag 'dish', class: 'img-card' %>
                <hr class="border-orange">
                <h3 class="text-orange text-center"><%= post.title %></h3>
                <p class="text-center"><%= post.content %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <% if index == 1 || index == 3 %>
          <div class="row">
        <% end %>
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <%= link_to post_path(post) do %>
                <h2 class="text-orange text-left"><%= post.head_title.upcase %></h2>
                <p class="hidden-md hidden-lg text-left"><%= post.subtitle %></p>
                <%= image_tag 'dish', class: 'img-card' %>
                <hr class='border-orange hidden-md hidden-lg'>
                <h3 class="text-orange text-center hidden-md hidden-lg"><%= post.title %></h3>
                <p class="hidden-md hidden-lg text-center"><%= post.content %></p>
              <% end %>
            </div>
          </div>
          <% if index == 2 || index == 4 %>
            </div>
          <% end %>
      <% end %>
    <% end %>

  <%= paginate @posts, window: 3 %>
</div>
