<div class="container">
  <div class="row">
    <% @posts.each_with_index do |post, index| %>
      <% if index == 0 %>
        <div class="col-xs-12">
          <div class="card-lg">
            <h2 class="text-orange"><%= post.head_title.upcase %></h2>
            <p><%= post.subtitle %></p>
            <%= image_tag 'dish', class: 'img-card' %>
            <hr class="border-orange">
            <h3 class="text-orange"><%= post.title %></h3>
            <p><%= post.content %></p>
          </div>
        </div>
      <% else %>
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <h2 class="text-orange"><%= post.head_title.upcase %></h2>
              <p class="hidden-md hidden-lg"><%= post.subtitle %></p>
              <%= image_tag 'dish', class: 'img-card' %>
              <hr class='border-orange hidden-md hidden-lg'>
              <h3 class="text-orange hidden-md hidden-lg"><%= post.title %></h3>
              <p class="hidden-md hidden-lg"><%= post.content %></p>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @posts, window: 3 %>
</div>
